.title {
    justify-content: center;
    margin-top: 5px;
}

.commicContainer {
    justify-content: center;
}

p {
    margin    : auto;
    margin-top: 10px;
}

.introContainer {
    max-width: 90%;
    margin   : auto;
}